<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <div id="app">
        <input v-model="textoDigitado" type="text" v-on:keyup.enter="AlteraEscrita('teste2')" />
        <ul>
            <li v-for="item in array" @click="Alerta($event)">
                {{item}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                textoDigitado: "",
                array: []
            },
            methods: {
                AlteraEscrita(sobrenome) {
                    this.array.push(this.textoDigitado);
                    this.textoDigitado = '';
                },
                Alerta(event) {
                    element = event.target;
                    if (element.style.background == "white")
                        event.target.style = "Background: red";
                    else
                        event.target.style = "Background: white";
                    //alert(event.target.textContent.trim())
                }
            }
        })
    </script>
</body>

</html>