<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <div id="app">
        <input type="text" v-model="textoDigitado">
        <br>
        <div v-if="textoDigitado == 1">
            <img :src="srcImage1" :title="titleImg" width="100px">
        </div>
        <div v-else-if="textoDigitado == 2">
            <img :src="srcImage2" :title="titleImg" width="100px">
        </div>
        <div v-else="textoDigitado == 3">
            <img :src="srcImage3" :title="titleImg" width="100px">
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                textoDigitado: '',
                srcImage1: "logo.png",
                srcImage2: "logo2.jpg",
                srcImage3: "logo3.jpg",
                titleImg: "logo",
            }
        })
    </script>
</body>

</html>